<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Pages</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <nav>
    <ul class="pagination">
      <li class="page-item"
      [ngClass]="{disabled: currentPage===0}">
        <a class="page-link">Previous</a>
      </li>
<ng-container *ngFor="let image of images; let i = index;">
      <li class="page-item" 
      [appCustomStyles] =" {active: i===currentPage}"
       *ngIf="checkWindowIndex(i)">
        <a class="page-link" (click)="currentPage = i">
          {{i}}
        </a>
      </li>
    </ng-container >

      <li class="page-item"
      [appCustomClassDirective] = "'bold'"     
       [ngClass]="{disabled: currentPage=== images.length-1}">
        <a class="page-link">Next</a>
      </li>
    </ul>
  </nav>
  
  <div appCustomClassDirective [backgroundcolor]="'green'">
    <h2>{{images[currentPage].title}}</h2>
    <img [src]="images[currentPage].url"/>
  </div>

  <div [ngSwitch]="currentPage">
    <div *ngSwitchCase= "0">
       Here is the zero url
    </div>

    <div *ngSwitchCase= "1">
      Here is the one url
   </div>

   <div *ngSwitschDefault>
    Here is the default url
 </div>
  </div>

  <!--custom structural directive example-->
 <ul *appCustomDirectiveTimes="5;  let j = custom_index;">
   <li>Hi there! {{'index: '+ j}}</li>
 </ul>
</body>
</html>
